*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #222;
}

/*img*/
/*.blind*/
/*input*/
/*table*/
/*.skip*/
/*clearFix*/

.clearFix::after{
content: "";;
display: block;
clear: both;
}

/*위의 것들이 추가되어야한다!*/